<% provide(:title, 'Users') %>
<h1>利用者一覧</h1>
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th></th>
      </tr>
    </thead>

      <% @users.each do |user| %>
        <tr>
          <td class="table-user">
            <%= link_to user.name, user_path(user) %>
            <% if user.admin? %>
              <span class="label label-primary label-user">管理者</span>
            <% else %>
              <span class="label label-success label-user">一般</span>
            <% end %>
          </td>
          <td class="table-user">
            <% unless user.admin? %>
              <%= link_to "削除", user_path(user.id), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger btn-user-delete" %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
  <%= will_paginate %>
</div>